.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .menu {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding:2px;
   
  }
  .menu li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em .5em;
    height: 1.6em;
    border-radius: 4px;
  }
  .menu li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .menu li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .menu .text {
    position: relative;
    top: -3px;
  }
